<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>

        <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" formControlName="username">
                </mat-form-field>
                <div *ngIf="submitted && f.username.errors">
                    <div *ngIf="f.username.errors.required"><small>User Name is required</small></div>
                </div>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email"  formControlName="email">
                </mat-form-field>
                <div *ngIf="submitted && f.email.errors">
                    <div *ngIf="f.email.errors.required"><small>Email is required</small></div>
                    <div *ngIf="f.email.errors.pattern"><small>Invalid Email Id</small></div>
                </div>

                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Password" formControlName="password">
                </mat-form-field>
                <div *ngIf="submitted && f.password.errors">
                    <div *ngIf="f.password.errors.required"><small>Password is required</small></div>
                    <div *ngIf="f.password.errors.minlength"><small>Password must be atleast 6 characters long</small></div>
                </div>

                <mat-form-field class="example-full-width">
                    <mat-label>Choose a role...</mat-label>
                    <mat-select [(value)]="selected"  formControlName="roles">
                        <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="submitted && f.roles.errors">
                    <div *ngIf="f.roles.errors.required"><small>Roles is required</small></div>
                </div>

            </mat-card-content>

            <button mat-stroked-button color="accent" class="btn-block">Register</button>

        </form>
    </mat-card>
</div>